@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

// Constant colors
$primary-bg: #484b4a;
$white: #fff;
$primary-text: #d1b9a8;
$secondary-color: #d1817a;

// Base styling
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-bg;
  font-family: 'Roboto', sans-serif;
  color: $white;

  @media (max-width: 767px) {
    overflow: hidden;
  }
}

.button {
  border-radius: 8px;
  background-color: $secondary-color;
  color: $white;
  text-decoration: none;
  padding: 18px 24px;
  text-transform: uppercase;
  font-weight: 900;
}

// Navbar Styling
.navbar {
  width: 100%;
  background-color: $secondary-color;
  position: relative;
  z-index: 1;
  text-transform: uppercase;

  .nav-container {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    min-height: 100px;
    background: url('../images/navbar-bg.png') no-repeat center center;

    .nav-logo {
      font-size: 24px;
      font-weight: 900;
      line-height: 1em;
      span {
        display: block;
      }
    }

    .nav-links {
      min-width: 730px;
      display: flex;
      list-style: none;
      font-size: 20px;

      li {
        margin-right: 2.25em;
      }

      @media (max-width: 1200px) {
        min-width: 500px;
      }

      @media (max-width: 1000px) {
        min-width: 300px;
      }
    }

    .nav-contact {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

// Homepage Styling
.home-container {
  h1 {
    font-size: 92px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-top: 0.35em;
    color: $secondary-color;
  }

  .home-body {
    width: 800px;
    margin: 0 auto;
    line-height: 24px;
    position: relative;

    p {
      font-size: 22px;
      color: $primary-text;
    }

    a {
      text-decoration: none;
      color: $secondary-color;
    }

    a.button {
      position: absolute;
      right: 0;
      margin-top: 1.75em;
      color: $white;
    }
  }

  @media (max-width: 767px) {
    h1 {
      margin-top: 1em;
      font-size: 72px;
    }

    .home-body {
      width: 500px;

      p {
        font-size: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    h1 {
      margin-top: 1.5em;
      font-size: 42px;
    }

    .home-body {
      width: 375px;

      p {
        font-size: 18px;
      }
    }
  }
}
