@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #484b4a;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

@media (max-width: 767px) {
  body {
    overflow: hidden;
  }
}

.button {
  border-radius: 8px;
  background-color: #d1817a;
  color: #fff;
  text-decoration: none;
  padding: 18px 24px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: #9b625d;
}

.navbar {
  width: 100%;
  background-color: #d1817a;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.navbar .nav-container {
  margin: 0 auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  min-height: 100px;
  background: url("../images/navbar-bg.png") no-repeat center center;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .nav-container a:hover {
  color: #d1817a;
}

.navbar .nav-container .nav-logo {
  font-size: 24px;
  font-weight: 900;
  line-height: 1em;
}

.navbar .nav-container .nav-logo span {
  display: block;
}

.navbar .nav-container .nav-links {
  min-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 20px;
}

.navbar .nav-container .nav-links li {
  margin-right: 2.25em;
}

@media (max-width: 1200px) {
  .navbar .nav-container .nav-links {
    min-width: 500px;
  }
}

@media (max-width: 1000px) {
  .navbar .nav-container .nav-links {
    min-width: 300px;
  }
}

.navbar .nav-container .nav-contact {
  text-align: center;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}

.container p {
  font-size: 22px;
  color: #d1b9a8;
}

.container h1 {
  font-size: 92px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-top: 0.35em;
  color: #d1817a;
}

.container .home-body {
  width: 800px;
  margin: 0 auto;
  line-height: 24px;
  position: relative;
}

.container .home-body a {
  text-decoration: none;
  color: #d1817a;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .home-body a:hover {
  color: #9b625d;
}

.container .home-body a.button {
  position: absolute;
  right: 0;
  margin-top: 1.75em;
  color: #fff;
}

.container .about-body {
  max-width: 975px;
  margin: 0 auto;
}

.container .about-body h1 {
  text-align: left;
}

.container .about-body .about-img-container div.img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .about-body .about-img-container div.img-row img {
  border-radius: 8px;
}

.container .about-body .about-img-container.last {
  margin-bottom: 32.2px;
}

@media (max-width: 767px) {
  .container h1 {
    margin-top: 1em;
    font-size: 72px;
  }
  .container p {
    font-size: 20px;
  }
  .container .home-body {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .container h1 {
    margin-top: 1.5em;
    font-size: 42px;
  }
  .container p {
    font-size: 18px;
  }
  .container .home-body {
    width: 375px;
  }
}
/*# sourceMappingURL=main.css.map */